# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  SERVER_SSH_KEY: ${{ secrets.SERVER_SSH_KEY }} # 服务器私钥
  SERVER_HOST: ${{ secrets.SERVER_HOST }} # 服务器ip地址
  USER_NAME: ${{ secrets.SERVER_USER_NAME }} # 服务器用户名
  
  # Allows you to run this workflow manually from the Actions tab
  # workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # runs-on字段指定运行所需要的虚拟机环境。注意：这个是必填字段
    runs-on: ubuntu-latest 

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # 上传资源
      - name: Deploy
        uses: easingthemes/ssh-deploy@v2.0.7
        env:
            SERVER_PRIVATE_KEY: ${{ env.SERVER_SSH_KEY }}
            ARGS: '-AVZ --DELETE'
            SOURCE: './'
            REMOTE_HOST: ${{ env.SERVER_HOST }}
            REMOTE_USER: ${{ env.USER_NAME }}
            TARGET: '/home/koa-project' # 目标服务路径

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          npm install
          npm run build
          npm run pro
